.dummySection {
  height: 100vh;
  background-color: #f4f0ea;
  border-top: 6px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 900;
  color: #000;
  text-shadow: 2px 2px 0px #fff;
}
