.formHeader {
  margin-bottom: 32px;
}

.title {
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 8px;
  color: #000;
}

.subtitle {
  color: #555;
  font-size: 1rem;
  font-weight: 500;
}

.registerForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Khusus untuk mengatur dua input berdampingan */
.inputGroup {
  display: flex;
  gap: 20px;
}

.footer {
  margin-top: 32px;
  text-align: center;
  font-weight: 600;
  font-size: 1rem;
  color: #333;
}

.linkRegister {
  color: var(--primary-red);
  text-decoration: none;
  font-weight: 800;
  position: relative;
}

.linkRegister::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: var(--primary-red);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.linkRegister:hover::after {
  transform: scaleX(1);
}

/* --- RESPONSIVE UNTUK TEKS & FORM --- */
@media (max-width: 768px) {
  .title {
    font-size: 2rem;
  }

  /* Di layar HP, input yang berdampingan menjadi susun ke bawah */
  .inputGroup {
    flex-direction: column;
    gap: 20px;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 1.8rem;
  }
}
