.pageWrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-cream);
  position: relative;
  z-index: 1;
}

.bgPattern {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../../assets/logo.svg");
  background-repeat: repeat;
  background-size: 120px; 
  opacity: 0.06;
  filter: grayscale(100%);
  z-index: -1;
}

.authContainer {
  display: flex;
  gap: 20px;
  overflow: hidden;
  align-items: stretch;
  width: 90%;
  height: 90%;
  color: #333;
}

.authContainer.reverse {
  flex-direction: row-reverse;
}

.containerImage {
  position: relative;
  width: 55%;
  border-radius: 1rem;
  background-color: var(--primary-yellow);
  background-size: cover;
  background-position: center;
}

.containerForm {
  width: 45%;
  padding: 4rem;
  border: 1px solid #e0e0e0;
  background-color: #ffffff;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

/* Shape Blur */
.decorativeShape {
  position: absolute;
  border-radius: 50%;
  filter: blur(60px);
  z-index: -1;
  opacity: 0.5;
}
/* Posisi shape khusus login */
.shapeTopLogin {
  top: -120px;
  right: -110px;
  width: 250px;
  height: 250px;
  background-color: rgba(59, 102, 245, 0.3);
}
.shapeBottomLogin {
  bottom: -120px;
  left: -110px;
  width: 300px;
  height: 300px;
  background-color: rgba(255, 215, 0, 0.2);
}
/* Posisi shape khusus register */
.shapeTopRegister {
  top: -120px;
  right: 430px;
  width: 250px;
  height: 250px;
  background-color: rgba(59, 102, 245, 0.3);
}
.shapeBottomRegister {
  bottom: -120px;
  left: 430px;
  width: 300px;
  height: 300px;
  background-color: rgba(255, 215, 0, 0.2);
}

/* Title, Deskripsi */
.titleForm {
  font-size: 2rem;
  font-weight: 700;
  color: #000;
  margin-bottom: 0.75rem;
  margin-top: 1.5rem;
  text-align: center;
}
.descForm {
  font-size: 1rem;
  font-weight: 400;
  color: #aeaeae;
  margin-bottom: 2.5rem;
  line-height: 1.5;
  max-width: 85%;
  text-align: center;
}

/* Footer (login/register) */
.footerLink {
  margin-top: auto;
  font-size: 0.85rem;
  color: #888;
}
.footerLink a {
  color: var(--primary-yellow);
  font-weight: 600;
  text-decoration: none;
  margin-left: 0.5rem;
}
.footerLink a:hover {
  text-decoration: underline;
}

/* Responsif untuk Mobile */
@media (max-width: 768px) {
  .authContainer {
    flex-direction: column !important;
    height: auto;
    padding: 20px 0;
  }
  .containerImage {
    display: none;
  }
  .containerForm {
    width: 100%;
    padding: 2rem;
  }
}
